/* 全局样式 */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.banner {
    margin-left: 45px; 
    margin-right: 45px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    margin-bottom: -10px;
    margin-top: 200px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    border-top-left-radius: 12px; /* 左上角圆角 */
    border-top-right-radius: 12px; /* 右上角圆角 */
    border-bottom-left-radius: 0; /* 左下角无圆角 */
    border-bottom-right-radius: 0; /* 右下角无圆角 */
    transition: transform 0.3s, box-shadow 0.3s;
}

/* 容器样式 */
.container {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto; /* 支持下拉 */
}

/* 信息容器样式 */
.info-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
}

/* 标题样式 */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

/* 标签样式 */
.label {
    font-size: 26px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 5px;
}

/* 内容样式 */
.content {
    font-size: 26px;
    color: #333333;
    margin-bottom: 15px;
    line-height: 1.5;
}

/* 示例样式 */
.examples {
    margin-top: 20px;
}

.example {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.example-text {
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

/* 分割线样式 */
.divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 15px 0;
}

/* 按钮样式 */
.play-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #0056b3;
}

/* 切换按钮样式 */
.toggle-button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 15px 0;
}

.toggle-button:hover {
    background-color: #218838;
}